#logo-nav {
    width: 2rem;
}

#logo {
    width: 10rem;
}

$theme-colors: (
    "primary": #59344F
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";