@tailwind base;
@tailwind components;
@tailwind utilities;

$--color-primary: #59344F;

$--font-path: '~element-plus/lib/theme-chalk/fonts';

@import "~element-plus/packages/theme-chalk/src/index";

.error {
    color: red;
}

.top-bar {
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.align-center {
    align-self: center;
}

.collapse-icon {
    color: white;
    font-size: 20px;
    &:hover {
        color: #7A5D72
    }
}

.text-h1 {
    font-size: 20px;
    color: #606266;
}

.brand {
    font-size: 20px;
    color: white;
    margin: 1rem 0;
}

#logo-nav {
    width: 2rem;
    flex-basis: 1rem;
    padding: 0 1rem;
}

#logo {
    width: 8rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.nav-link {
  text-decoration: none;
  color: white;
  &:hover {
      color: #7A5D72 !important;
  }
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-link-item {
    padding: 15px;
}

.bg-primary {
    background-color: $--color-primary;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: $--color-primary;
        &:hover {
            text-decoration: underline;
        }
    }
}

.mv-20 {
    margin-top: 8px;
    margin-bottom: 8px;
}